    body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            font-family: Arial, sans-serif;
            background-color: #4a4a4a;
        }

        .switch-body {
            position: relative;
            width: 140px;
            height: 65px;
            
            background: linear-gradient(#2f2f2f, #2a2a2a);
            border-radius: 6px;
            cursor: pointer;
            
            perspective: 1000px;
            
            box-shadow: 
                0 10px 20px rgba(0, 0, 0, 0.4),
                inset 0 2px 3px rgba(0, 0, 0, 0.7),
                inset 0 -1px 2px rgba(255, 255, 255, 0.05);
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            box-sizing: border-box;
            
            -webkit-user-select: none; 
            -ms-user-select: none;
            user-select: none; 

            --led-color: #00ff00;
        }
        
        .rocker {
            position: relative;
            width: 90px;
            height: 100%; 
            
            background: linear-gradient(to bottom, #444, #3a3a3a 40%, #313131 100%);
            border-radius: 4px;
            border: 1px solid #1a1a1a; 
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            
            font-weight: bold;
            font-size: 1.1em;
            
            transition: all 0.12s cubic-bezier(0.22, 1, 0.36, 1);
            
            transform-style: preserve-3d;
        }
        
        .switch-body::after {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 2px;
            border: 1px solid #111;
            box-sizing: border-box;
            background-color: #333;
            box-shadow: inset 0 2px 3px rgba(0,0,0,0.9);
            transition: all 0.2s ease;
        }

        .rocker span {
            display: inline-block;
            width: 1em;
            text-align: center;
            transition: all 0.12s ease-out;
            -webkit-user-select: none; 
            -ms-user-select: none;
            user-select: none;
        }

        .switch-body:not(.is-on) .rocker {
            transform: rotateY(-18deg);
            
            box-shadow: 
                inset 2px 0 2px rgba(0,0,0,0.8),
                inset 14px 0 18px rgba(0,0,0,0.7), 
                -5px 0 8px rgba(0,0,0,0.4), 
                inset -1px 0 1px rgba(255, 255, 255, 0.3); 
        }
        
        .switch-body:not(.is-on) .rocker .text-off { 
            color: #fff; 
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
        } 
        .switch-body:not(.is-on) .rocker .text-on { 
            color: #777; 
            text-shadow: 0 1px 1px rgba(0,0,0,0.9);
        }

        .switch-body.is-on .rocker {
            transform: rotateY(18deg);
            
            box-shadow: 
                inset -2px 0 2px rgba(0,0,0,0.8),
                inset -14px 0 18px rgba(0,0,0,0.7),
                5px 0 8px rgba(0,0,0,0.4),
                inset 1px 0 1px rgba(255, 255, 255, 0.3);
        }
        
        .switch-body.is-on::after {
            background-color: var(--led-color);
            box-shadow: 
                0 0 10px var(--led-color), 
                0 0 20px var(--led-color), 
                inset 0 0 3px #fff;
        }

        .switch-body.is-on .rocker .text-off { 
            color: #777; 
            text-shadow: 0 1px 1px rgba(0,0,0,0.9);
        }
        .switch-body.is-on .rocker .text-on { 
            color: #fff; 
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
        }
